<mat-card class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="pontuacao">

    <mat-form-field appearance="fill" class="width-max">
      <mat-label>Nome do jogador</mat-label>
      <input matInput class="width-max" placeholder="nome" formControlName='nome'>
      <mat-hint>Nome</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="width-max">
      <mat-label>Pontuação do jogador</mat-label>
      <input matInput class="width-max" placeholder="pontuacao" type="number" formControlName='pontos'>
      <mat-hint>Pontos</mat-hint>
    </mat-form-field>

    <button mat-raised-button class="width-max" color='primary' [disabled]="!pontuacao.valid"
      type="submit">Enviar</button>
  </form>
  <button mat-raised-button class="width-max" color='primary' (click)="clearHighscore()">Limpar HIGHSCORE</button>
</mat-card>
